// Main Slider Height
.slider-height {
    min-height: 800px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$lg}{
        min-height: 680px;
    }
    @media #{$md}{
        min-height: 600px;
    }
    @media #{$sm}{
        min-height: 600px;
    }
    @media #{$xs}{
        min-height:450px;
    }
}
// Another Page
.slider-height2{
    height: 350px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$md}{
        height: 350px;
    }
    @media #{$sm}{
        height: 250px;
    }
    @media #{$xs}{
        height: 250px;
    }
}
// Slider Bg
    .slider-bg1{
        background-image: url(../img/hero/h1_hero1.jpg);
    }
    .slider-bg2{
        background-image: url(../img/hero/h1_hero2.jpg);
    }
    .slider-bg3{
        background-image: url(../img/hero/h1_hero3.jpg);
    }
// Another page bg
    .slider-bg4{
        background-image: url(../img/hero/h2_hero1.jpg);
    }
    .slider-bg5{
        background-image: url(../img/hero/h2_hero2.jpg);
    }


.slider-area{
    .hero-caption{
        h1{
            font-size: 70px;
            font-weight: 700;
            margin-bottom: 23px;
            color: #fff;
            line-height: 1.1;
            @media #{$lg}{
                font-size: 60px;
                line-height: 1.2;
            }
            @media #{$md}{
                font-size: 50px;
                line-height: 1.2;
            }
            @media #{$sm}{
                font-size: 35px;
                line-height: 1.2;
            }
            @media #{$xs}{
                font-size: 35px;
                line-height: 1.2;
            }
        }
         span{
            font-size: 18px;
            line-height: 1.2;
            font-weight: 300;
            margin-bottom: 39px;
            color: #fff;
            margin-bottom: 37px;
            text-transform: uppercase;
            display: inline-block;
            @media #{$xs}{
                margin-bottom: 30px;
            }
        }
        p{
            color: #fff;
            margin-bottom: 50px;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.5;
            br{
                @media #{$sm}{
                    display: none;
                }
                @media #{$xs}{
                    display: none;
                }
            }
            @media #{$md}{
                margin-bottom: 43px;
                font-size: 21px;
            }
            @media #{$sm}{
                margin-bottom: 43px;
                font-size: 21px;
            }
            @media #{$xs}{
                margin-bottom: 43px;
                font-size: 21px;
            }
        }
        // Another Page
        &.hero-caption2{
            h2{
                
                color:#fff;
                font-size: 60px;
                display: block;
                font-weight: 700;
                line-height: 1.4;
                margin-bottom: 10px;
                @media #{$md}{
                    margin-bottom: 20px;
                    font-size: 43px;
                }
                @media #{$sm}{
                    margin-bottom: 20px;
                }
                @media #{$xs}{
                    margin-bottom: 20px;
                    font-size: 44px;
                }
            }
            p{
                margin-bottom: 0px;
                color:#fff;
                font-size: 18px;
                line-height: 1.6;
                @media #{$xs}{
                    font-size: 18px;
                }
            }
        }
    }
}

//overly
.hero-overly {
    position: relative;
    z-index: 0;
    &::before {
        position: absolute;
        content: "";
        @extend %overlay1;
        // background-color: rgba(35, 39, 35,.4);
        width: 70%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
}

.hero-overly01 {
    position: relative;
    z-index: 0;
    &::before {
        position: absolute;
        content: "";
        @extend %overlay2;
        // background-color: rgba(35, 39, 35,.4);
        width: 70%;
        height: 100%;
        // left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
}

// Another Hero Page
.slider-area2{
    background-image: url(../img/hero/hero2.png);
	background-repeat: no-repeat;
    background-size: cover;
    .hero-cap{
        @media #{$md}{
            padding-top: 50px;
        }
        @media #{$sm}{
            padding-top: 50px;
        }
        @media #{$xs}{
            padding-top: 50px;
        }
        h2{
            color: #fff;
            font-size: 50px;
            font-weight: 800;
            text-transform: capitalize;
            line-height: 1;
            margin-bottom: 21px;
            @media #{$sm}{
                font-size: 50px;
              }
            @media #{$xs}{
                font-size: 35px;
              }
        }
    }
}



// slick dot style
.dot-style {
    .slick-dots {
        text-align: center;
        right: 27px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        li {
            display: block;
            margin-bottom: 3px;
        }
        li.slick-active button::before {
            position: absolute;
            content: "";
            height: 23px;
            width: 23px;
            border: 2px solid #fff;
            left: 49%;
            margin: 0 auto;
            text-align: center;
            top: 63%;
            transform: translateY(-48%) translateX(-48%);
            border-radius: 50%;
            line-height: 25px;
             @include transition(.4s);
        }
        button {
            text-indent: -100000px;
            height: 7px;
            width: 7px;
            border: 0;
            padding: 0;
            margin-right: 10px;
            cursor: pointer;
            border-radius: 50%;
            margin-bottom: 15px;
            background:#fff ;
        }
    }
}


.dot-style .slick-dots  .slick-active button{
    background: #fff;
    position: relative;
     @include transition(.4s);
}

