<footer>
        <div class="footer-wrapper">
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-20">
                                    <!-- logo -->
                                    <div class="footer-logo mb-35">
                                        <a href={{ path('homepage') }}><img src={{ asset("assets/img/logo/logo.jpg") }} width="80px" alt=""></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>
                                                We continue to provide medical assistance to the most vulnerable population in the Central African Republic. Here’s is 
                                                one of accomplishment In Bossembele
                                            </p>
                                            <p>
                                                 Nous continuons à fournir une assistance médicale à la population la plus vulnérable 
                                                en République centrafricaine. En voici une de réalisation à Bossembele.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- social -->
                                    <div class="footer-social">
                                        <a href="https://www.facebook.com/profile.php?id=100084253031818"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offset-xl-1 col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Navigation</h4>
                                    <ul>
                                        <li><a href="#">Accueil</a></li>
                                        <li><a href="#">Qui sommes - nous ?</a></li>
                                        <li><a href="#">Nos services</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Nos services</h4>
                                    <ul>
                                        <li><a href="#">Santé</a></li>
                                        <li><a href="#">Education</a></li>
                                        {#<li><a href="#">Pet Trainingl</a></li>
                                        <li><a href="#">Hygienic Care</a></li>#}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle mb-10">
                                    <h4>Subscrivez - vous</h4>
                                    <p>Subscrivez - vous pour recevoir nos nouvelles informations.</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form mb-20">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                        method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Saisissez votre addresse électronique"
                                            class="placeholder hide-on-focus">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                class="email_icon newsletter-submit button-contactForm">
                                                <i class="fas fa-arrow-right"></i>
                                            </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                    <p>Copyright © {{ "now"|date("Y") }} All rights reserved | This website is made with <i class="fa fa-heart" aria-hidden="true"></i>  by <a href="#" target="_blank">iSTech</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>