<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      {%- if record|default and record.title -%}
      {{- record.title ~ ' | ' -}}
      {%- endif -%}
      {{- config.get('general/sitename') -}}
      {%- if record|default == null and config.has('general/payoff') -%}
      {{- ' | ' ~ config.get('general/payoff') -}}
      {%- endif -%}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/icon/favicon.png">

	<!-- CSS here -->
	<link rel="stylesheet" href={{ asset("assets/css/bootstrap.min.css") }}>
	<link rel="stylesheet" href={{ asset("assets/css/owl.carousel.min.css") }}>
	<link rel="stylesheet" href={{ asset("assets/css/slicknav.css") }}>
	<link rel="stylesheet" href={{ asset("assets/css/progressbar_barfiller.css") }}>
  <link rel="stylesheet" href={{ asset("assets/css/animate.min.css") }}>
	<link rel="stylesheet" href={{ asset("assets/css/magnific-popup.css") }}>
	<link rel="stylesheet" href={{ asset("assets/css/fontawesome-all.min.css") }}>
	<link rel="stylesheet" href={{ asset("assets/css/themify-icons.css") }}>
	<link rel="stylesheet" href={{ asset("assets/css/slick.css") }}>
	<link rel="stylesheet" href={{ asset("assets/css/nice-select.css") }}>
  <link rel="stylesheet" href={{ asset("assets/css/style.css") }}>
</head>
<body>
    {% include 'partials/_navigation.twig'%}
    
    {% block main %}
      (This is <code>block main</code>)
    {% endblock main %}

    {% include 'partials/_footer.twig' %}
    
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
    <!-- Jquery, Popper, Bootstrap -->
    <script src={{ asset("assets/js/vendor/modernizr-3.5.0.min.js")}}></script>
    <script src={{ asset("assets/js/vendor/jquery-1.12.4.min.js")}}></script>
    <script src={{ asset("assets/js/popper.min.js") }}></script>
    <script src={{ asset("assets/js/bootstrap.min.js") }}></script>

    <!-- Slick-slider , Owl-Carousel ,slick-nav -->
    <script src={{ asset("assets/js/owl.carousel.min.js") }}></script>
    <script src={{ asset("assets/js/slick.min.js") }}></script>
    <script src={{ asset("assets/js/jquery.slicknav.min.js") }}></script>

    <!--wow , counter , waypoint, Nice-select -->
    <script src={{ asset("assets/js/wow.min.js") }}></script>
    <script src={{ asset("assets/js/jquery.magnific-popup.js") }}></script>
    <script src={{ asset("assets/js/jquery.nice-select.min.js") }}></script>
    <script src={{ asset("assets/js/jquery.counterup.min.js") }}></script>
    <script src={{ asset("assets/js/waypoints.min.js") }}></script>
    <script src={{ asset("assets/js/barfiller.js") }}></script>

    <!-- contact js -->
    <script src={{ asset("assets/js/contact.js") }}></script>
    <script src={{ asset("assets/js/jquery.form.js") }}></script>
    <script src={{ asset("assets/js/jquery.validate.min.js") }}></script>
    <script src={{ asset("assets/js/mail-script.js") }}></script>
    <script src={{ asset("assets/js/jquery.ajaxchimp.min.js") }}></script>

    <!--  Plugins, main-Jquery -->	
    <script src={{ asset("assets/js/plugins.js") }}></script>
    <script src={{ asset("assets/js/main.js") }}></script>
    </body>
</html>