<header>
  <div class="header-area">
    <div class="main-header ">
      <div class="header-top d-none d-sm-block">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-12">
              <div class="d-flex justify-content-between flex-wrap align-items-center">
                <div class="header-info-left">
                  <ul>     
                    <li><i class="fas fa-phone-alt"></i> +1 406-396-8642</li>
                    <li>info@ikeoko.org</li>
                  </ul>
                </div>
                  <div class="header-info-right">
                    <ul class="header-social">    
                      <li><a href="https://www.facebook.com/profile.php?id=100084253031818"><i class="fab fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom  header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-2 col-lg-2">
              <div class="logo">
                <a href={{ path('homepage') }}><img src={{ asset("assets/img/logo/logo.jpg") }} width="90px" alt=""></a>
              </div>
            </div>
            <div class="col-xl-10 col-lg-10">
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav> 
                  <ul id="navigation">                                                                                                                                     
                    <li><a href={{ path('homepage') }}>Accueil</a></li>
                    <li><a href="https://ikeoko.org/about">Qui sommes - nous ?</a></li>
                    <li><a href="https://ikeoko.org/services">Nos services</a></li>
                    <li><a href="https://ikeoko.org/blog">Blog</a>
                      {#<ul class="submenu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog_details.html">Blog Details</a></li>
                        <li><a href="elements.html">Elements</a></li>
                      </ul>#}
                    </li>
                    
                    <li>
                        <div class="header-right-btn f-right  ml-15">
                            <a href="#" class="header-btn">Faites un don</a>
                        </div>
                    </li>
                    <li>
                        <div class="header-right-btn f-right  ml-15">
                            <img src="{{ asset("img/qrcode.jpeg") }}" width="120px" alt="">
                        </div>
                    </li>
                  </ul>
                </nav>
              </div>
            </div> 
            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>